.moviesLoading{
    font-size: 50px;
    color: white;
}
.movieFilterContainer{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    gap: 14px;
    margin-bottom: 24px;
    margin-top: 24px;
    
    @media screen and (min-width: 990px) {
        margin-top: 0;
    }
}
.movieFilterBy{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    > svg{
        font-size: 22px;
    }
}
.movieFilter{
    text-transform: capitalize;
    background-color: #333;
    color: #f4f4f4;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.removeFilter{
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 4px;
    margin-left: auto;
    color: rgb(206, 68, 68);
    background: none;
    border: none;
    cursor: pointer;
    
    > svg{
        font-size: 24px;
    }
}
.active{
    background-color: #f4f4f4;
    color: #333;
}
.filterContainer{
    margin-bottom: 40px;
    display: flex;
    gap: 12px;
    align-items: center;
}
.movieList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.moviesContainer{
    margin: 40px;
}