.movieItem{
    list-style: none;
    position: relative;
    min-height: 500px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.5);
    border: 1px solid rgb(93, 93, 93);
    &:hover{
        .movieImage{
            transform: scale(1.1);
        }
        .movieDesc{
            background-color: rgb(51, 51, 51,.95);
            opacity: 0;
        }
        .cardArc {
            path {
                fill: rgb(51, 51, 51,.95);
            }
        }
    } 
}
.movieLink{
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
.movieImage{
    transition: .3s all ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.movieDesc{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding: 30px;
    z-index: 2;
    color: #f4f4f4;
    position: relative;
    transition: .3s all ease-in-out;
    background-color: rgb(51, 51, 51,.8);
    backdrop-filter: blur(10px);
    border-top-left-radius: 40px;
    box-shadow: -5px -10px 10px rgba(0,0,0,0.1);
    
    > h3{
        font-size: 18px;
        font-weight: 700;
        display: block;
        margin-bottom: 8px;
    }
}
.genre{
    list-style: none;
}
.cardArc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 5;
    backdrop-filter: blur(10px);
    path {
        transition: .3s all ease-in-out;
        fill: rgb(51, 51, 51,.8);
        d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
    }
}
.movieData{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 4px;
    > svg{
        font-size: 20px;
    }
}